<!-- Doctype html-->
{% extends 'base.html' %}


{% block head_extra %}

  {{ form.media }}

{% endblock %}


  {% block content %}
  <div class="col-sm-8 col-sm-offset-2">
    <h3>About me</h3>
    <!-- enctype added for image/file -->
    <p>Hello there, I am Angela, coming from Switzerland and living in Bangkok since spring 2017. Besides my normal work I enjoy to invest some of my time to report and share my eating experiences with you.</p>
    <img class="img" src="http://www.bangkokveggie.com/media/about_me/about_me_1.jpg">
    <p>Bangkok is an awesome city with a varied and big offer, but unfortunately there are still difficulties for vegetarians; especially if you want to enjoy authentic Thai food. I already travelled in Thailand and Asia a couple of times before living here, so it was no surprize to me that it won’t be easy.</p>
    <p>I would like to share my view on my eating habits and the possibilities for vegetarians in our world, especially “regions“ like Asia. If you have the same thinking, I hope I can meet your taste and recommend good places to eat for you.</p>
    <p>In general I am not the type of vegetarian who is just happy to have something to eat, no matter what it is or how it tastes. I am a foodie and enjoy also fine dining, so this blog is not only about streetfood or cheap places or just documenting where you can find vegetarian food, but judging it honestly after my taste.</p>
    <p>I often am not satisfied with the quality of vegetarian food. Many times I receive uncreative, tasteless dishes. And sometimes that food was even recommended to me by another vegetarian.</p>
    <p>I have the feeling that many vegetarians are so glad to just getting something to eat, they immensly lowered their standards, propably unknowing. I am expecting a quite high standard of food, or at least the same as the meat dishes. I understand that most of the people don’t feel the same way, but in our current world situation it’s actually not acceptable anymore to eat and create dishes only meat-based.</p>
    <p>Unfortunately on top, I feel like mostly having to pay more, for example here you can get food for 30 baht on the street, but the vegetarian dishes are usually more expensive and anyway almost only available in restaurants.</p>
    <p>To me, it was never natural to eat meat and fish. This feeling accompanies me slighthly also with dairy products and eggs, but it never was this strong so until today I didn’t manage to go vegan. I understand if for some of you it‘s not acceptable following a vegetarian ovo-lacto blog. As a Swiss I might have some credit for not being able to quit eating cheese, my biggest weekness...</p>
    <p>What really concerns me in this world, is how the majority of people seem to find it perfectly normal using animals for eating, even more, many of them could not even imagine having a meal without any animal products. So you will experience in Thailand.</p>
    <p>Often I hear from people: „oh, as a vegetarian you have plenty of choices here“ and I just think: „erm no, what do you meat-eating people know? Just if there are vegetables in a dish doesn’t mean it’s vegetarian. In Thailand’s main dishes it’s mostly not even the case that there are any vegetables inside. So I don’t know where this perception comes from. There are a handful vegetarian dishes, but you can be sure that they put fish sauce, oyster sause or shrimp paste inside if you don’t say anything. And also if you do, in some cases you just have to expect it or leave it (for example curry paste is already made with fish sauce). Papaya salad for example is a great and fresh salad dish but made with fish sauce and topped with any animal you like, if you don’t say anything the normal version is with shrimps. Find out more about the “vegetarian” Thai dishes and recipes.</p>
    <p>I was always a very strict vegetarian and didn’t eat anything with an animal product, like fish sauce. Since I am living in Asia I sometimes turn a blind eye, although I would prefer it else. But I have the feeling to be REALLY sure I would have to refrain from all the Thai food.</p>
    <p>Summed up, in my opinion it’s really difficult here to find vegetarian food. But I don’t want to sound too negative, Bangkok is a huge city with a great culinary offer, and of course you can eat great dishes as a Vegetarian here. Just expect to pay more and if you want to eat Thai food, it’s necessary to learn the basic Thai to order food.</p>
    <p>I hope you are enjoying my foodie reports and please feel free to send me any suggestions, questions or feedbacks.</p>
    <p>Have a nice time in Bangkok</p>
    <p>Warm regards</p>
    <p>Angela</p>
  </div>




  {% endblock %}
