<!-- Doctype html-->
{% extends 'base.html' %}


{% block head_extra %}

  {{ form.media }}

{% endblock %}


  {% block content %}
  <div class="col-sm-8 col-sm-offset-2">
    <h3>Dictionary for vegetarians</h3>
    <!-- enctype added for image/file -->
    <p>A basic vocabulary will help you a lot to order Thai food adjusted for vegetarians. I will state here the common phrases to do that – please be aware though that it’s actually not possible to write Thai in our script. You will find websites where you can listen to the sound of the words. The best is to learn Thai in school or with a private teacher, so you can listen how it’s pronounced and they can correct you if you’re doing it wrong.</p>

<p>Basics</br>
To order a dish, you say just “ao/ow” which translates like “take”, followed by the name of the dish.
Usually you can put “na ka” (female) / “na krap” (male) in the end of your sentence. “na” helps to emphasize if you ask someone to do something for you, like adjusting your dish vegetarian, and “ka/krap” to be polite.</p>
<p>The important words for you are:</br>
Vegetarian	mang-sa-wi-rat</br>
Vegan		jay</p>
<p>If you order mang-sa-wi-rat, it will still consist fish sauce etc., just no whole pieces of meat, fish or seafood.
If you order jay, there will be no animal by-products at all, but maybe it will be quite tasteless because the strict jay food is without chilli, garlic, onions and some herbs.
That’s why I usually order mang-sa-wi-rat and add the information depending on the dish, for example “mai sai nam bplaa” (without fish sauce). But for me it’s easier because I eat egg which is in many dishes. If you eat vegan you will probably be more comfortable to just order “jay”.</p>

<p>Example sentences (Please see the the dictionary below for explanations of the words):</br>
I take vegan Pad Thai please:</br>
“Ao Pad Thai jay na ka/krap”</p>

<p>Do you have vegetarian food here?:</br>
“Tee-nee mee ahan mang-sa-wi-rat mai ka/krap”?</p>

<p>I eat vegetarian:</br>
“Chan (female) / Pom (male) gin mang-sa-wi-rat ka/krap”</p>

<p>I eat vegan:</br>
“Chan (female) / Pom (male) gin jay ka/krap”</p>

<p>I don’t eat meat:</br>
“Chan (female) / Pom (male) mai gin neua-sad ka/krap”</p>

<p>I don’t eat fish:</br>
‘Chan (female) / Pom (male) mai gin bplaa ka/krap’</p>

<p>I don’t eat eggs:</br>
‘Chan (female) / Pom (male) mai gin khai ka/krap”</p>

<p>Please don’t put fish and oyster sauce:</br>
“Mai sai nam bplaa lae nam man-hoy na ka/krap”</p>

<p>Please don’t put shrimp paste:</br>
“Mai sai kapi na ka/krap”</p>

<p>What is inside this dish?:</br>
“Un-nee khue aria ka/krap?”</p>

<p>Usually you can put na ka (female) / na krap (male) in the end of your sentence. “na” helps to emphasize if you ask someone to do something for you and “ka/krap” to be polite.</p>

<p>Name of popular dishes (please click here to see explanations and pictures)</p>
<table class="table">
<tr><td>Morning Glory</td><td> “pak bung”</td></tr>
<tr><td>Papaya salad</td><td>“som tam”</td></tr>
<tr><td>Fried rice</td><td>“khao pad”</td></tr>
<tr><td>Pad Thai</td><td>(fried noodles dish which we call the same)</td></tr>
<tr><td>Fried noodles with soy sauce</td><td>“pad see-iew”</td></tr>
<tr><td>Tom Yum soup</td><td>“tom yum nam”</td></tr>
<tr><td>Curry</td><td>“gaeng”</td></tr>
<tr><td>Noodle soup</td><td>“guai-dtiao”, without the soup “haeng” (dry)</td></tr>
<tr><td>Fried vegetables</td><td>“pad pak”</td></tr>
<tr><td>Fried mushrooms</td><td>“pad hed”</td></tr>
<tr><td>Fried tofu</td><td>“pad thao-hu”</td><td>
</table>


<p>Dictionary</p>

<table class="table">
<tr><td>Asparagus</td><td>nho mai farang</td><td>
<tr><td>Beef</td><td>neua</td><td>
<tr><td>Boiled</td><td>tom</td><td>
<tr><td>Bread</td><td>kanom pang</td><td>
<tr><td>Broccoli</td><td>broccoli</td><td>
<tr><td>Burned</td><td>phao</td><td>
<tr><td>Cabbage</td><td>gra lam</td><td>
<tr><td>Cauliflower</td><td>dog gra lam (dog = flower)</td><td>
<tr><td>Chicken</td><td>gai</td><td>
<tr><td>Collard (green plant)</td><td>kha-na</td><td>
<tr><td>Curry</td><td>gäeng</td><td>
<tr><td>Cucumber</td><td>taang gwa</td><td>
<tr><td>Cut</td><td>tad</td><td>
<tr><td>Crunchy</td><td>grob (gob)</td><td>
<tr><td>Deep fried</td><td>thod</td><td>
<tr><td>Dinner</td><td>Khao-yen</td><td>
<tr><td>Dry (without soup)</td><td>häng</td><td>
<tr><td>Eggplant</td><td>ma khue</td><td>
<tr><td>Fish</td><td>bplaa</td><td>
<tr><td>Fried with little oil</td><td>phad</td><td>
<tr><td>Garlic</td><td>gra-tiem</td><td>
<tr><td>Get</td><td>rab</td><td>
<tr><td>Grilled</td><td>yang</td><td>
<tr><td>Lime</td><td>ma naw</td><td>
<tr><td>Lunch</td><td>Khao-tien</td><td>
<tr><td>Morning glory</td><td>pak bung</td><td>
<tr><td>Mushroom</td><td>hed</td><td>
<tr><td>Noodles</td><td>guai-dtiao</td><td>
<tr><td>Noodles big</td><td>zen-yai</td><td>
<tr><td>Noodles Glassnoodles</td><td>wun-zen</td><td>
<tr><td>Noodles small</td><td>zen-lek</td><td>
<tr><td>Noodles yellow</td><td>ba-mee</td><td>
<tr><td>Noodles yellow small</td><td>ba-mee-lek</td><td>
<tr><td>Onion</td><td>hua hom</td><td>
<tr><td>Order</td><td>sang</td><td>
<tr><td>Oyster sauce</td><td>nam man-hoy (oil of oyster)</td><td>
<tr><td>Pepper</td><td>phrig Thai</td><td>
<tr><td>Pork</td><td>moo</td><td>
<tr><td>Potato</td><td>man-farang</td><td>
<tr><td>Pumpkin</td><td>phak thong</td><td>
<tr><td>Rice</td><td>khao</td><td>
<tr><td>Roasted</td><td>khua</td><td>
<tr><td>Seafood</td><td>ahan talae</td><td>
<tr><td>Soup</td><td>nam</td><td>
<tr><td>Soy sauce black</td><td>see-iew-dam (dam=black)</td><td>
<tr><td>Soy sauce white</td><td>see-iew-khao</td><td>
<tr><td>Salt</td><td>glue
<tr><td>Salty</td><td>khem
<tr><td>Shrimp/Prawn</td><td>goong
<tr><td>Soup with veggies</td><td>gäeng-jüd
<tr><td>Sour</td><td>p(r)iew
<tr><td>Spicy</td><td>phed
<tr><td>Steamed</td><td>nüng
<tr><td>Stired</td><td>guan
<tr><td>Sugar</td><td>nam dtan (tan=brown)
<tr><td>Sweet</td><td>whaan
<tr><td>Take</td><td>ao
<tr><td>Take away</td><td>ao glab baan
<tr><td>Tasteless</td><td>jüüd
<tr><td>Tasty/delicious</td><td>a-roy
<tr><td>Tomato</td><td>ma khue tet (tet = foreign vegetable)
<tr><td>Warm</td><td>un (weather and food)
</table>
  </div>




  {% endblock %}
