<!-- Doctype html-->
{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block head_extra %}

  {{ form.media }}

{% endblock %}


  {% block content %}
  <div class="col-sm-8 col-sm-offset-2">
    <h3>Input</h3>
    <!-- enctype added for image/file -->
    <form method="POST" action="." enctype="multipart/form-data">{% csrf_token %}
      {{ form|crispy }}

      {{ formset.management_form }}
          {% for form in formset %}
              {{ form }}
          {% endfor %}
      <input type="submit" class="btn btn-primary" name="poster" value="Save Draft!"/>
    </form>
  </div>



  {% endblock %}
