<nav class="navbar">
  <div class="container col-sm-8 col-sm-offset-2">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav navbar-left">
        <li class="active"><a href="{% url 'posts:home' %}">Home</a></li>
        <li class="active"><a href="{% url 'posts:locations' %}">Restaurants</a></li>
        <li>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Infos <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'posts:dict' %}">Dictionnary</a></li>
            <li><a href="{% url 'posts:thai_dishes' %}">Thai Veggie Dishes</a></li>
          </ul>
        </li>
        <li><a href="{% url 'posts:about' %}">About Me</a></li>
        <li><a href="{% url 'posts:contact' %}">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if request.user.is_authenticated %}
        <li>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
  {{ request.user }} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'posts:create_location' %}">Add Location</a></li>
            <li><a href="{% url 'posts:create' %}">create new post</a></li>
            <li><a href="./admin">Admin Console</a></li>
          </ul>
        </li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
          <form class="navbar-form" role="search" method='GET' action=".">
            <div class="input-group">
              <input type="text" name="q" class="form-control" placeholder="Search for..." value="{{ request.GET.q }}"/>
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Search <i class="fa fa-search"></i></button>
              </span>
            </div><!-- /input-group -->
          </form>

        {% endif %}
      </ul>

    </div>
    <!--/.nav-collapse -->
  </div>
</nav>
