<!-- Doctype html-->
{% extends 'base.html' %}


{% block head_extra %}

  {{ form.media }}

{% endblock %}


  {% block content %}
  <div class="col-sm-8 col-sm-offset-2">
    <h3>Thai food for vegetarians</h3>

    <p>When you are new in Thailand and don’t know yet which dishes you can eat, this overview will hopefully help you! It can be difficult because often they have only a Thai script menu which you can’t read, or they don’t explain exactly which ingredients are inside.
Still today I often am afraid to order something in case of doubt because in it’s actually never vegetarian. To be able to ask the vendor what’s inside or to adjust the dish being vegetarian, you will need to learn a bit of survival Thai. To see the important sentences and explanations, click here.
In general, it’s helpful that Thai food is usually cooked or fried fresh after your order, so there can be made adjustments. “mang-sa-wi-rat” (vegetarian) is commonly understood and you should get the food without meat of fish pieces. Further adjustments phrases are explained in the link above. What bugs me a little is that fish sauce is such a common ingredient in Thailand I am not sure if it’s really done without although you order it without. I think sometimes they premade the sauce with fish sauce already in it. It happened to me already that they said to me from the beginning they cannot serve anything vegan, and this is probably the reason. Or they are just lazy to adjust.</p>
<p>You are always safe in the vegan restaurants/stalls, which you can recognize from the yellow/red “jay” sign. Jay is a religious based diet which doesn’t consist any animal products and also some other ingredients like chilli, garlic, onions and strong herbs. This I find a pity but sometimes if you order “jay” they make it still with chilli/garlic or onions. But if you go to the jay stalls/restaurants, it’s usually cooked without.
Don’t be surprised to see sugar in any ingredients list – besides fish sauce and chili that’s another ingredient used in almost every Thai dish, which I didn’t know before moving here! </p>


<p><b>Morning Glory “pak bung” - ผักบุ้ง</b><br/>
Ingredients: water spinach, garlic, chili, oil, bean paste, oyster sauce
This is my favourite Thai food. To have it vegetarian, you can order it without oyster sauce: “mai sai nam man-hoy na ka/krap”, and you might want to add they can do it with soy sauce “dai sai see-iew ka/krap”. If oyster sauce doesn’t bother you, you can order it just like that.
This dish can be awesome or just average, it really depends on how it’s done. But it’s incredibly tasty for being such a simple and healthy recipe.</p>

<p><b>Papaya salad “som tam” - ส้มตำ</b><br/>
Ingredients: raw green papaya, tomatoes, long beans, garlic/onions, chili, sugar, peanuts, fish sauce, dried shrimps
This is a super nice, healthy and fresh dish. Luckily, with some adjustments we can enjoy it too. I usually order “ao som tam mang-sa-wi-rat” (I take papaya salad vegetarian) and add “mai sai nam bplaa” (no fish sauce). This dish is usually topped with dried shrimps in the original recipe, or other meat or fish depending on the order. If you say you want it vegetarian, they should not to put any dried shrimp or other, but it happened to me already that I received it despite saying I want it veg, and had to send it back. To be very sure, check what is in the salad you order and add “mai sai …” for example dried shrimps “mai sai goong haeng”
If you don’t like the fruit to eat, try it anyway because the young Papaya in this salad tastes totally different. </p>

<p><b>Pad Thai - ผัคไทย</b><br/>
Ingredients: rice noodles, egg, tofu, bean sprouts, radish, garlic, chives, chili, peanuts, vegetable oil, tamarind paste, fish sauce, lime wedges, sugar, shrimps or other fish/meat
This is a very popular dish which is made from many street vendors. Here applies the same as for the Papaya salad, if it’s ordered without fish sauce “mai sai nam bplaa” and  vegetarian “mang-sa-wi-rat” you can eat it. If you are vegan, you can order it “jay”.</p>

<p><b>Pad see-iew - ผัคซีอิ๊ว</b><br/>
Ingredients: rice noodles, egg, Chinese brokkoli, garlic, peanuts, soy sauce, fish sauce, oyster sauce, vinegar, sugar, chicken.
Pad see-iew is similar to Pad Thai, it’s basically fried noodles. The difference is, it’s more salty and less sweet because it’s cooked with soy sauce (“see-iew”). It’s usually made with chicken and fish/oyster sauce. Depending of what you want to have adjusted you can order without meat, fish/oyster sauce and egg. Same as above, the phrase to order it completely vegan would be easiest: “ao pad see-iew jay” (I take vegan fried noodles).</p>

<p><b>Fried rice “khao pad” - ข้าวผัด</b><br/>
Ingredients: rice, egg, leef of Chinese broccoli, scallions onions, garlic, chili, soy sauce, fish sauce, oyster sauce, sugar, lime, chicken or seafood
I don’t have to explain much about fried rice I guess. In Thailand it’s usually supplemented with meat or shrimps like the noodle dishes. Same rule applies, you can order “ao khao pad jay” to be safe and have it without egg too.</p>

<p><b>Tom Yum soup “guai-dtiao tom yum” - (ก๋วยเตี๋ยว)ต้มยำ</b><br/>
Ingredients: water, noodles, oyster mushrooms, tomatoes, onions, garlic, lemongrass, galangal (Thai ginger), kaffir lime leaves, chili, fish sauce, lime juice, cilantro, sugar, shrimps
Creamy version: chili sauce, condensed milk
There are two versions of the Tom yum soup, the clear and the creamy one. I’ve never tried the one with milk so far. From the clear one I already had delicious versions and not so, the soup can be made in many variations. The good thing about Tom yum is, it’s not made with meat stock. Usually they put shrimps inside, but this is quite easy to avoid by just ordering without “mai sai goong”. Usual thing here, to be sure the soup was not yet cooked with the shrimps or mixed with fish sauce, you should get it in a vegetarian restaurant.</p>

<p><b>Noodle soup “guai-dtiao” - ก๋วยเตี๋ยวน้ำ</b><br/>
Ingredients: pork, chicken or beef stock, noodles, meatballs, sliced meat, garlic, onion, chili, oil, soy sauce, fish sauce, lime juice, cilantro, sugar, shrimps
You will see many street food stalls selling noodle soups. The authentic Thai noodle soup has nothing to do with vegetarian. If I am jealous on one thing I can’t eat, it’s noodle soups! Especially in the morning it would be the perfect breakfast, as the Vietnamese do it with their Pho soup. However, you can get adaptations in vegetarian restaurants. If they try to do it authentically you will get a lot of mock meat. You can choose the type of noodles you like. </p>

<p><b>Thai curry “gaeng” - แกง</b><br/>
There are many versions of curry, why I don’t list the ingredients here (green, red, yellow, Panang, Massaman…). Important to know is, the curry paste is always made with fish sauce and shrimp paste. So even if you order it only with vegetables, you will have to accept it or eat it only in vegetarian restaurants.
Funny is, when you travel in Thailand or stay here, you will notice that Thai curries are much less popular in the country itself than outside. When we ate Thai food in Switzerland, it was mainly Thai curry. I’ve never seen a Thai curry made at a street food stall here. You can get it in restaurants tough – and if you have to go to the restaurant anyway, better to choose a vegetarian one</p>

<p>* The ingredient lists are based on the traditional recipes as far as I am informed and have seen it. If you see any mistakes, please inform me at ((e-mail)) or share in the comments. </p>

<p>… Nothing more to eat for us?? What about spring rolls?<br/>
Well, there are some more things to order like fried egg “pad khai”, just fried vegetables “pad pak” or fried mushrooms “pad hed”, fried tofu “pad tao-hu”.
For spring rolls there is also a misconception of western people that they are usually vegan. In Asia they are rather usually not. But it’s possible to find veggie ones, you just have to ask what filling is inside – and hopefully understand the reply.</p>
  </div>




  {% endblock %}
